body {
    background-image: linear-gradient(#FCFCE7, #e5e7dc, #c9e7cc);
}

#story-container {
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.801);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 12px;
    margin-left: 300px;
    margin-right: 850px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

#introduction
{
    text-align: justify;
    margin-bottom: 37px;
}

#bg {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
}

#title {
    font-size: 82px;
    color: rgb(22, 109, 0);
    font-weight: bolder;
}

#subtitulo {
    margin-top: -50px;
    font-size: 40px;
    color: rgb(22, 109, 0);
}

html {
    scroll-behavior: smooth;
}

#choices {
    margin-top: 20px;
    text-align: center;
}

#historia {
    font-family: 'Montserrat', sans-serif;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 150px;
}

#perguntas {
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: font-size 0.5s;
}

#perguntas:hover {
    font-size: 40px;
}

#perguntas:not(:hover) {
    font-size: 18px;
}

button {
    padding: 15px 20px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    background-color: #0056b3;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: font-size 0.5s;
}

button:hover {
    background-color: rgb(0, 105, 0);
    font-size: 25px;
    padding: 20px 25px;
}

img {
    max-width: 1000px;
}

#leitor {
    position: fixed;
    top: 520px;
    right: 10px;
    display: inline-block;
}

#leitor img {
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}

#iniciarLeitura {
    display: none;
    position: absolute; 
    background: rgb(57, 197, 252);
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 50px;
    padding: 3px;
    border-radius: 10px;
    top: 0;
    right: 50px;
    font-size: 14px;
}

#leitor:hover #iniciarLeitura,
#leitor.active #iniciarLeitura {
    display: block;
    top: -10px;
    position: absolute; 
    font-size: 18px;
}